.btn {
  color: #356d9c;
  border-radius: 20px;
  width: 80px;
  height: 40px;
  border: solid 2px #356d9c;
  background-color: #ffffff;
  /* margin-bottom: 50px; */
}

.btn:hover {
background-color:#356d9c;
  color: #ffffff;
}
