/* * {
  box-sizing: border-box;
}


.row::after {
  content: "";
  clear: both;
  display: table;
}


.picture {

  float: left;
  width: 45%;

}

.picture img {
  width:500px;
  height: 200px;
  float: left;
  margin-left: 10px;
  margin-top: 100px;
  border-radius: 5px;
}

.picture .btnDetails {
position:fixed;
border: none;
cursor: pointer;
border-radius: 5px;
color: black;
text-align: center;
font-size: 25px;
direction: rtl;
margin-right: 18px;
margin-left: 18px;
opacity: 0.5;
margin-top: 130px;
width: 30%;
height: 30%;
}


.picture1 {

  float: left;
  width: 45%;

}

.picture1 img {

  width:500px;
  height: 200px;
  float: left;
  margin-left: 15px;
  margin-top: 100px;
  border-radius: 5px;
}

 .picture1 .btnTravel {
  position:fixed;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  color: black;
  text-align: center;
  font-size: 25px;
  direction: rtl;
  margin-right: 18px;
  margin-left: 18px;
  opacity: 0.5;
  margin-top: 130px;
  width: 30%;
  height: 30%;

  
} */
