.home_hamburger {
  text-align: right;
  flex-direction: column;
  text-indent: 20px;
  margin-top: 10px;
}

.img_hamburgerup {
  margin-top: 12px;
  text-align: right;
  right: 0%
}

.img_hamburger1 {
  width: 335px;
  height: 230px;
  text-indent: 20px;
  background-color: #356d9c;
  padding-top: 0px;
  top: 0%;
}

.space {
  margin-left: 15px;
}

.home_hamburgerup {
  color: white;
  width: 200px;
  text-align: right;
}

.home_hamburger1 {
  text-align: right;
  flex-direction: column;
  text-indent: 20px;
}

