.input{
    outline: none;
    border: solid 2px var(--e-global-color-secondary);
    height: 50px;
    /* padding: 10px; */
    /* padding-right: 20px; */
    border-radius: 8px;
    /* padding-bottom: 2px; */
    width: 93%;
    text-align: right;
    line-height: 10;   
}

.input[type=password]{
    text-align: right;
}

.input[type=date]{
    color: var(--e-global-color-secondary);
}
.input::placeholder{
    color: var(--e-global-color-secondary);
}
.error{
    border-color: var(--e-global-color-6fff166d);
    color: var(--e-global-color-6fff166d);
}
.error::placeholder{
    color: var(--e-global-color-6fff166d);
    
}
.input :hover{
    border-color: black;
}
input:focus { 
    outline: none !important;
    border-color: #719ECE;
    box-shadow: 0 0 10px #719ECE;
 }

.input[type=password]{
    text-align: right;
}