.enter{
  color: #356d9c;
  font-size: 20px;
}

.enter1{
  color: #356d9c;
  font-size: 15px;
}

.submitBtn{
  color: #ffffff;
  border-radius: 20px;
  width: 250px;
  height: 40px;
  border: solid 2px #356d9c;
  background-color:#356d9c;
  margin: 15px;
}
a {
  color: #356d9c;
}
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.designInput {
  all:unset;
  width: 250px;
  padding: 10px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 1.5px solid #356d9c;
  display: inline-block;
}

.profileImg {
  width: 120px;
  height: 120px;
}
/* .remmeber {
  text-align: right;
} */

.allLogin {
margin-top: 70px;
}

input[type="email"] {
  text-align: left;
}
input[type="password"] {
  text-align: left;
}

.remmeber {
  margin-left: 150px;
}

.login_again {
  font-size: 14px;
}

b {
  color: rgb(13, 13, 228);
}
.spaceB{
  margin-left: 5px;
}

.error1 {
  color: var(--e-global-color-6fff166d);
  text-align: center;
  /* padding-right: 50%; */
}