.allPage {
  padding: 15px;
}

.flex-container{
    display: flex;
    padding-left: 28%;
}

/* calls */
.req
{
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  margin: 0;
}

.req > div {
  background-color: rgb(255, 255, 255);
  border-style: solid;
  border-color: #ebe9eb;
  border-width: 2px;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);    width: 100%; */
  /* margin: 10px; */
  margin-top: 5px;
  margin-bottom: 5px;
  /* text-align: center; */
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 25px;
  padding-right: 25px;
  text-align: right;
  line-height: 50px;
  font-size: 14px;
}

.box-search {
  width: 50%;
  /* margin-top: 100px;
  margin-bottom: 100px; */
  left: auto;
  text-align: right;
    /* margin: .4rem 0; */
}

/* input::-webkit-calendar-picker-indicator {
  display: none;
} */

input[type=text] {
  width: 130px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('searchIc.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
  width: 100%;
}

  
